 :root {
  --pri: #212121;
  --sec: #2A272A;
  --txtpri: #86A8E7;
  --txtsec: #D16BA5;
 }
 
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: var(--sec);
}

.border {
  margin: auto;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 20px;
  transition: all .3s;
  width: fit-content;
}

.border:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.box {
  display: flex;
  flex-direction: column;
  background-color: var(--pri);
  padding: 30px 15px;
  border-radius: 20px;
  align-items: center;
  transition: all .2s;
  gap: 5px;
}

.box:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

img {
  height: 100%;
  max-width: 50%;
  border-radius: 100%;
  display: block;
  margin: auto;
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}

h1{
  font-weight: bold;
  color: var(--txtpri);
  font-size: 1.2rem;
}

p {
  color: var(--txtsec);
  font-size: 0.8rem;
}

#ig, #fb{
  border-radius: 15px;
  border: 2px solid var(--sec);
  background-color: var(--txtpri);
  padding: 10px;
  width: 200px;
}

#ig a, #fb a {
  color: var(--sec);
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

#time {
  margin: 5px auto;
  color: gray;
}
