:root {
  --pri: #212121;
  --sec: #2A272A;
  --txtpri: #86A8E7;
  --txtsec: #D16BA5;
 }

 
body {
  background-color: var(--sec);
  padding: 5%;
  margin: auto;
}

.container {
  margin: 50% auto;
  width: fit-content;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 20px;
  transition: all .3s;
}

.container:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.box {
  display: flex;
  flex-direction: column;
  background-color: var(--pri);
  padding: 5%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: all .2s;
}

.box:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

img {
  height: 100%;
  max-width: 50%;
  border-radius: 100%;
  display: block;
  margin: 5px auto;
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}

section h1{
  text-align: center;
  font-weight: bold;
  width: 90%;
  color: var(--txtpri);
  margin: auto;
  padding: 10px;
  font-size: 1rem;
}

section p {
  text-align: center;
  width: 90%;
  color: var(--txtsec);
  margin: auto;
  padding: 5px;
  font-size: 0.8rem;
}

#time {
  margin: 5px auto;
}
